.search-list {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th {
    text-transform: uppercase;
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #ddd;

    small {
      font-variant: small-caps;
    }
  }

  th,
  td {
    padding: 4px;
  }

  tr:first-of-type {
    td {
      padding-top: 8px;
    }
  }
}

.searches {
  margin-bottom: 4rem;

  &__heading {
    font-weight: bold;
    font-size: 2.75rem;
    letter-spacing: 0.5px;
    margin: 2.5rem 0 2rem;
    line-height: 1.7;
  }
}

.search-form {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    position: absolute;
    top: 0.75rem;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
  }

  &__input {
    position: relative;
    width: 48.3%;
    height: 100%;
    text-align: center;

    &--active {
      .search-form__icon {
        color: #5fb076;
        cursor: auto;
      }

      input {
        width: 100% !important;
      }
    }

    input {
      font-size: 1.35rem;
      background-color: transparent;
      border: none;
      padding-left: 2rem;
      padding-right: 0.5rem;
      width: 0%;
      height: 100%;
      transition: width 0.3s;
      color: #666;

      &:focus {
        outline: none;
      }
    }
  }
}
