.search-list {
  width: 100%;
  text-align: left;

  th {
    small {
      font-variant: small-caps;
    }
  }
}

.searches {
  &__heading {
    font-weight: bold;
    font-size: 2.75rem;
    letter-spacing: 0.5px;
    margin: 2.5rem 0 2rem;
    line-height: 1.7;
  }
}

.search-form {
  background-color: #f4f3ef;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    position: absolute;
    top: 0.75rem;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
  }

  &__input {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;

    &--active {
      .search-form__icon {
        color: #5fb076;
        cursor: auto;
      }

      input {
        width: 100% !important;
      }
    }

    input {
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      padding-left: 2rem;
      padding-right: 0.5rem;
      width: 0%;
      height: 100%;
      transition: width 0.3s;
      color: #666;

      &:focus {
        outline: none;
      }
    }
  }
}
